@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection {
  color: #ffff;
  background: rgb(142, 73, 232);
}

body {
  width: 100%;
  height: 100vh;
  padding: 10px;
  background: #f6f6f6;
}

.wrapper {
  background: #fff;
  max-width: 450px;
  width: 100%;
  margin: 120px auto;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.wrapper .top {
  width: 100%;
  display: flex;
  height: 55px;
  padding: 10px 0;
  font-size: 17px;
  color: #333;
  border-bottom: 1px solid #f2f2f2;
}

.top span {
  width: 90%;
  height: 100%;
  outline: none;
  border-radius: 3px;
  border: 0;
  font-size: 17px;
  padding-left: 15px;
  transition: all 0.3s ease;
}

.top button {
  width: 50px;
  height: 100%;
  border: none;
  color: #333;
  margin-left: 5px;
  font-size: 17px;
  outline: none;
  background: #fff;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.6;
  pointer-events: none;
  transition: all 0.3s ease;
}

.addField button {
  width: 50px;
  height: 100%;
  border: none;
  color: #c2c2c2;
  margin-left: 5px;
  font-size: 17px;
  outline: none;
  background: #fff;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.6;
  pointer-events: none;
  transition: all 0.3s ease;
}

.footer button {
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #333;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  opacity: 0.6;
  pointer-events: none;
  transition: all 0.3s ease;
}

.top button:hover {
  background: #721ce3;
}

.top button.active {
  opacity: 1;
  pointer-events: auto;
}

.wrapper .addField {
  width: 100%;
  display: flex;
  height: 55px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
}

.examine:checked + div {
  text-decoration: line-through;
  opacity: 0.6;
  color: #721ce3;
}

.addField input {
  width: 90%;
  padding: 0 40px 0 1rem;
  line-height: 50px;
  height: 50px;
  border: none;
  font-style: italic;
  padding-left: 15px;
  transition: all 0.3s ease;
}

.addField input::placeholder {
  color: #ddd;
  font-size: 17px;
}

.inputField button.active {
  opacity: 1;
  pointer-events: auto;
}

.wrapper .contentList {
  max-height: 250px;
  overflow-y: auto;
}

.contentList li {
  position: relative;
  list-style: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  padding: 13px 15px;
  cursor: default;
  overflow: hidden;
  word-wrap: break-word;
}

.contentList li .icon {
  position: absolute;
  right: 0;
  top: 5px;
  width: 45px;
  text-align: center;
  color: #ccc;
  padding: 10px 15px;
  border-radius: 0 3px 3px 0;
}

.contentList li .btn-del {
  position: absolute;
  right: -45px;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  text-align: center;
  color: #333;
  padding: 10px 15px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.2s ease;
}

.contentList li:hover .btn-del {
  right: 0;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.wrapper .footer {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: #f1efef;
}

.footer button.active {
  opacity: 1;
  pointer-events: auto;
}
